.btn {
        display: block;
        width: 104px;
        height: 35px;
        background: #B4141B;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 23px;
        color: white;
        text-decoration: none;
        transition: .5s all;
        &_big {
            padding-top: 25px;
            width: 284px;
            height: 74px;
            font-weight: 700;
            font-size: 24px;
            line-height: 23px;
        }
        &:hover {
            transform: scale(1.05);
            border: 2px solid black;
        }
}