.promo {
    height: 650px;
    background: url("../../img/bg-i-1.png") center (center/cover) no-repeat;
    .container {
        display: grid;
        grid-template-columns: repeat(2,570px);
        grid-template-rows: repeat(2, 325px);

    }
    &__text {
        grid-column: 2/3;
        align-self: end;
    }
    .btn  {
        grid-column: 2/3;
        margin-top: 60px;
    }
}